/* CSS reset -------------------------------------------------------------- */
html,
body,
img,
p,
h1,
h2,
h3,
ul,
li,
figure {
    margin: 0;
    padding: 0;
}
p{
    text-align: left;
    line-height: 1.5;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h5{
    font-size: 12px;
}

/* règles générales -------------------------------------------------------- */
* {
    box-sizing:border-box;
}
html{
    background-color: #f6f6f6;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #5F5F5F;
    background-color: white;
    width: 97%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #979797;
}
a:hover{
    color: #E26F39;
}

/* Entete Admin -------------------------------------------------------- */
.entete.admin{
    padding: 10px;
}
.entete.admin a img{
    width: 60%;
}

/* Navigation Admin -------------------------------------------------------- */
.container{
    display: flex;
    width: 100%;
}
.entete.admin nav i.fa-home {
    display: inline;
    font-size: 20px;
}
.entete.admin nav  {
    align-items: flex-end;
}
body ul{
    width: 230px;
    background: #81CEC5;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}
.container ul li{
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    padding: 20px 10px 20px 19px;
    border-bottom: 1px solid #8FE3DA;
    cursor: pointer;
    outline: none;
}
.container ul li a{
    display: flex;
    color: white;
    border-bottom: none;
}
.container ul li:hover:not(.dropdown-container){
    background: #8FE3DA;
    border-bottom: 1px solid #F9DB45;
}
.active {
    background-color: #8FE3DA;
    color: white;
}
.container ul li.dropdown-container {
    display: none;
    background-color: #5F5F5F;
    padding: 0;
}
.container ul li.dropdown-container a{
    padding: 20px 10px 20px 19px;
    border-bottom: 1px solid rgb(58, 58, 58);
}
.container ul li.dropdown-container a:hover{
    background: rgb(58, 58, 58);
    border-bottom: 1px solid #F9DB45;
}
.contenu{
    flex-grow: 2;
    padding: 20px 20px 20px 40px;
}

/* Accueil Admin -------------------------------------------------------- */
.contenu h1{
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
.contenu h1 span{
    color: #E26F39;
    font-weight: 400;
    text-transform: uppercase;
}
.home-info{
    background: #F3D331;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 30px 0 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}
.infoIco{
    background: url("../img/icons/address-book-bl.svg") no-repeat center;;
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.infoTexte{
    flex-grow: 2;
}
.infoTexte h2{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.infoTexte p{
    font-weight: 100;
    font-size: 30px;
    color: white;
}
.infoTexte p:last-child{
    color: black;
    font-size: 14px;
}
a .infobt{
    border: 1px solid white;
    padding: 15px;
    text-align: center;
    color: black;
}
a .infobt:hover{
    background: rgba(255, 255, 255, 0.5);
}
.home-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home-cont section{
    width: 47%;
    height: 300px;
    margin-right: 5%;
    border: 1px solid #ddd;
    background: white;
    padding: 20px;
    box-shadow: 0 3px 5px rgb(10, 21, 38, 0.3);
}
.home-cont section:last-child{
    margin-right: 0;
}
section h3{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 1px solid #F3D331;
    line-height: 40px;
    color: black;
}
.table-accueil{
    height: 200px;
    overflow: hidden;
}
.table-accueil table{
    border: none;
}
.table-accueil table td{
    border-left: none;
    border-bottom: none;
    width: auto;
}
.table-accueil table td h2{
    font-size: 13px;
}
.table-accueil table td:nth-child(even){
    border-right: none;
}

/* Tables Admin -------------------------------------------------------- */
table a{
    width: auto;
    background: transparent;
    padding: 0;
    text-align: left;
}
table {
    width: 100%;
    border: 1px solid #ddd;
    border-spacing: 0;
}
th{
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #000;
}
td {
    width: 3%;
    text-align: left;
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background: #F8F8F6;
}
td:nth-child(2) {
    width: auto;
}
td:nth-child(3), td:nth-child(4) {
    width: 10%;
    font-size: 15px;
    text-align: center;
}
td:nth-child(4) a{
    color: #E26F39;
}
td:nth-child(4) a:hover{
    color: #000;
}
td input[type="checkbox"] {
    width: auto;
}
td h2{
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
}
.titreListe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contenu .titreListe h1 {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.bts-principal{
    font-size: 30px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}
.bts-principal div{
    -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.28);
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.28);
    padding: 10px 15px;
}
.bts-principal div a{
    color: white;
}
.bt-ajouter{
    background-color: #F3D331;
}
.bt-ajouter:hover{
    background-color: #F9DB45;
}
.bt-supprimer{
    background-color: #E26F39;
}
.bt-supprimer:hover{
    background-color: #F08243;
}
.bt-supprimer input[type="submit"]{
    background: url("../img/icons/trash-alt-bl.svg") no-repeat center;
    padding: 6px 15px;
    fill: white;
    margin: 0;
}

.bt-approuver input[type = "submit"]{
    background: url("../img/icons/check-solid.svg") no-repeat center;
    padding: 6px 15px;
    fill: white;
    margin: 0;
}

.bt-supprimer input[type="submit"]:hover{
    background-color: transparent;
    background: url("../img/icons/trash-alt-bl.svg") no-repeat center;
}

.bt-approuver input[type = "submit"]:hover{
    background-color: transparent;
    background: url("../img/icons/check-solid.svg") no-repeat center;
}


/* Forms -------------------------------------------------------- */
.contenu-form.admin {
    padding: 5%;
    width: 100%;
}
.msg-erreur{
    text-transform: uppercase;
    font-size: 12px;
    color: red;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}


/* Footer -------------------------------------------------------- */
.container footer{
    margin-top: 50px;
}