/* Réglages entete -------------------------------------------------- */
.entete{
    z-index: 100;
    background-color: #fff;
    padding: 20px 15px;
    box-shadow: 0 3px 5px rgb(10, 21, 38, 0.3);
    width: 100%;
    height: var(--hauteur-entete);
    top:0px;
    display: flex;
    flex-direction: row;
}
.entete .logo{
    height: auto;
}
.entete .logo img{
    width: 90%;
}
.entete .logo:hover{
    opacity: .5;
}
.flexgrow{
    flex-grow: 1;
}
.entete nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.entete nav span{
    align-self: flex-start;
    order: 1;
}
.entete nav a{
    font-size: 14px;
    padding: 12px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}
.entete nav i.fas{
    display: none;
}
.entete nav a:hover:not(.chercher) {
    color: #F08243;
    padding: 15px 12px;
    border-bottom: 2px solid #81CEC5;
}
.entete .menu-burger {
    display: none;
    padding: 0px;
    margin-top: 5px;
    margin-right: 12px;
    justify-content: center;
    align-content: center;
}
.entete .menu-burger i{
    height: 24px;
    width: 24px;
}


/* Réglages footer -------------------------------------------------- */
footer section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 130px;
}

footer div{
    padding: 2%;
}

footer p{
    text-align: center;
    font-size: 10px;
}

.reseaux{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.reseaux a{
    text-align: center;
    padding: 5%;
    font-size: 35px;
}





/* media queries: mobile --------------------------------------------------*/
@media screen and (max-width:667px){
    /* Menu --------------------------------------------------*/
    .entete .logo {
        z-index: -20;
    }
    .entete .logo img{
        height: 60px;
    }
    .entete nav i.fas{
        display: inline;
        color: white;
        margin-right: 5%;
    }
    .entete{
        position: fixed;
        top: 0;
        transition: top 0.3s;
        height: 90px;
        z-index: 500;
    }
    .entete .menu-burger {
        display: inherit;
        color: #F3D331;
        font-size: 22px;
    }
    .entete .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: #E26F39;
        position: absolute;
        top:0;
        left: 0px;
        transform-origin: center right;
        /*transform: scale(0,0);*/
        transform: translate(100vw, 0px);
        transition: transform 200ms;
        height: 100vh;
        z-index: -10;
    }
    .entete nav span{
        order: 0;
    }
    /* la class .ouvert est la class qu'on a creé dans menu.js*/
    .entete .menu.ouvert {
        height: 100vh;
        transform: translate(50px, 0px);
        /*transform: scale(1,1);*/
        transform-origin: center right;
        transition: transform 200ms;
    }
    .entete .menu a {
        color: #fff;
        font-size: larger;
    }
    .entete .menu ~ .menu-burger i.fa-bars{
        transform-origin: center center;
    }
    .entete .menu.ouvert ~ .menu-burger i.fa-bars{
        display: none;
    }
    .entete .menu ~ .menu-burger i.fa-times{
        display: none;
    }
    .entete .menu.ouvert ~ .menu-burger i.fa-times{
        display: inherit;
    }
    .entete nav a, .entete nav span{
        width: 100%;
        padding: 26px 15px;
    }
    .entete nav span a{
        padding: 0;
    }
    .entete nav a:hover:not(.chercher) {
        background-color: #F08243;
    }
    .entete nav span input{
        background-color: transparent;
        border: 1px solid white;
        padding: 10px;
        font-size: inherit;
        color: white;
        width: auto;
    }
    ::placeholder{
        color: white;
        opacity: .5;
    }
    :-ms-input-placeholder /*IE 10-11*/{
        color: white;
        opacity: .5;
    }
    
    
    /* Réglages footer -------------------------------------------------- */
    footer img{
    width: 80px;
    }
    
    .reseaux a{
    text-align: center;
    padding: 5%;
    font-size: 25px;
    }
}