/*caroussel --------------------------*/
.caroussel{
    position: relative;
    width: 100%;
    height: auto; 
}

.caroussel img{
    height: auto;
    width: 100%;
}

.caroussel div {
    position: absolute;
    right:0;
    bottom: 50px;
}

.caroussel div h1 {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

.caroussel h2{
    background-color: white;
    padding: 2%;
}

/* section À LA UNE ------------------------*/
.une{
    padding: 10%;
}

.une .BlocUne{
    display: flex;
    align-items: center;
   
    
}
.une h1{
    text-transform: uppercase;
    font-size: 50px;
    color:#E26F39;
    letter-spacing: 3px;
/*    border-right: solid 8px #E26F39;*/
    flex-wrap: nowrap;
    width: 180px;
}

.texteUne{
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    padding-left: 3%;
    border-left: solid 6px #E26F39;
}

.une p{
    padding-top:5%;
}

.btnArtiste{
    background-color: #F9DB45;
    color: white;
}


/*section Artiste --------------------------*/
.artiste{
    background-color: #81CEC5;
}

.artiste div .listeArtiste{
    padding-top: 3%;
}

.artiste .listeArtiste a{
    text-decoration: underline;
}

.artiste .listeArtiste a:hover{
    text-decoration: none;
}

.artiste h1{
    color: white;
    font-weight: 400; 
}

.artiste h2{
    font-size: 1.2em;
    color: white;
    text-align: center;
    font-weight: 600;   
}

.artiste a{
    color: white;
    font-weight: 600;
} 

.artiste a:hover{
    text-decoration: underline;
} 

/*Artiste à l'honneur --------------------------*/

.listeParcours{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.honneur{
    height: 10%;
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

.honneur img{
    width: 100%;
    margin-bottom: 0;
}

.honneur h2{
    position: absolute;
    left: -10px;
    bottom: 0em;
    background-color: white;
    padding: 2% 2% 2% 5%;
}


/*section À propos --------------------------*/
.apm p{
    text-align: center;
}
.apm, .artiste{
    padding: 10%;
}

.apm h1, .apm h1 a{
    color: #F08243;
    font-weight:400;
    text-transform: uppercase;
    text-align: center;
}

.apm h1 a:hover{
    color: #FCB797;
}

.apm .savoir{
    text-align: center;
    margin: 15px 0;
}


/* media queries: mobile --------------------------------------------------*/
@media screen and (max-width:667px){
    
    /*section à propos --------------------------*/
    .caroussel{
        margin-top: 80px;
    }
    .apm div h1{
        margin: 3% 0% 3% 0%;
    }
    .propos{
        font-size: 70%;
        color: darkgrey;
    }
    
    .une h1{
    font-size: 30px;
    width: 250px;
    }
    
    .texteUne{
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    padding-left: 3%;
    border-left: solid 5px #E26F39;
    }
}

