/*Caroussel --------------------------*/ 
.caroussel{
    position: relative;
    width: 100%;
    height: auto; 
    overflow: hidden;
}
.C-carrousel{
    width: 100%;
    overflow: hidden;
}
.C-carrousel li, .C-carrousel img {
    display: block;
    width: 100%;
}
.C-carrousel ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    width: 600%;
    position: relative;
    animation-name: defilement;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes defilement {
    0%    { left:     0; }              16%     { left:     0; }
    16.8%  { left: -100%; }             32.8%   { left: -100%; }
    33.6%  { left: -200%; }             49.6%   { left: -200%; }
    50.4%  { left: -300%; }             66.4%   { left: -300%; }
    67.2%  { left: -400%; }             83.2%   { left: -400%; }
    84%    { left: -500%; }             99%     { left: -500%; opacity: 1}
    99.5%  { left: -500%; opacity: 0}   99.501% { left: 0    ; opacity: 0}
    100%    { left:     0; opacity: 1}
}

/* Image et texte du caroussel ----------------------------------------------------- */
.C-contPerso{
    width: auto;
    position: absolute;
    bottom: -4%;
    left: 10%;
}
.C-btOeuvres{
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,8);
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
}
.C-btOeuvres a{
    color: white;
}
.C-btOeuvres a:hover{
    color: rgb(255, 245, 194);
}
.C-perso{
    width: 70%;
    margin: 0 auto;
}

/* section À LA UNE ------------------------*/
.une{
    padding: 10% 0;
    display: flex;
}
.ImgUne{
    width: 50%;
}
.ImgUne img{
    width: 100%;
}
.une .BlocUne{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding-right: 5%;
    width: 50%;
}
.titreUne{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10%;
}
.une h1{
    text-transform: uppercase;
    font-size: 50px;
    color:#E26F39;
    min-width: 180px;
    line-height: 50px;
}
.texteUne{
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    padding-left: 3%;
    border-left: solid 6px #E26F39;
    color: black;
}
.contenuUne h2{
    color: #E26F39;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.contenuUne .subTitreUne{
    font-size: 25px;
}
.contenuUne .btnArtiste{
    text-transform: uppercase;
    background-color: #F3D331;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    color: white;
    width: 50%;
    padding: 15px;
    margin-top: 5%;
    text-align: center;
}
.contenuUne .btnArtiste:hover{
    background-color: #F9DB45;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.une p{
    padding-top:5%;
}


/*section Parcours --------------------------*/
.artiste{
    background-color: #81CEC5;
}

.artiste div .listeArtiste{
    padding-top: 3%;
}

.artiste .listeArtiste a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.artiste .listeArtiste a:hover{
    color: rgb(178, 247, 239);
    text-decoration: none;
}

.artiste i{
    font-size: 13px;
    color: rgb(178, 247, 239);   
}

.artiste h1{
    color: white;
    font-weight: 300; 
    font-size: 18px;
    text-align: center;
}

.artiste h1 a{
    font-size: 75%;
    color: white;
    text-decoration: none;
}

.artiste h1 a:hover{
    text-decoration: none;
    color: rgb(211, 255, 251);
}

.artiste h2{
    font-size: 1.2em;
    color: white; 
    text-align: center;
    font-weight: 600;   
}

.listeParcours{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.honneur{
    display: inherit;
    height: 10%;
    width: 33.3%;
    position: relative;
    margin-bottom: 0;
}

.honneur a{
    height: 250px;
    width: 100%;
}

.honneur img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
     filter: brightness(60%);
     -webkit-filter: brightness(60%);
}

.honneur img:hover{
    width: 100%;
    margin-bottom: 0;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transition: 0.5s;
}

.honneur h2{
    position: absolute;
    bottom: 1em;
    background-color: white;
    padding: 2% 4% 2% 4%;
    color: black;
    font-weight: 400;
}

.contenu.bouton{
    padding-top: 10px;
    min-height: 0;
    margin: 4% auto;
    padding-bottom: 0;
    justify-content: center;
}

.btnVisite{
    color: white;
    background-color: #81CEC5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-transform: uppercase;
}

a .btnVisite:hover{
    background-color: #8FE3DA;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}


/*section À propos --------------------------*/
.apm p{
    text-align: center;
}

.propos{
    font-size: 80%;
    color: darkgrey;
}

.apm, .artiste{
    padding: 3% 6%;
}

.apm h1, .apm h1 a{
    color: #F08243;
    font-weight:400;
    text-transform: uppercase;
    text-align: center;
}

.apm h1 a:hover{
    color: #FCB797;
}

.apm .savoir{
    text-align: center;
    margin: 15px 0;
}



/* media queries: desktop --------------------------------------------------*/
@media screen and (max-width:1400px){
    .C-btOeuvres {
        font-size: 70px;
    }
    .C-perso img{
        width: 90%;
    }
}
@media screen and (max-width:1024px){
    .C-btOeuvres {
        font-size: 60px;
    }
    .C-contPerso {
        left: 0;
    }
}
@media screen and (max-width:768px){
    .C-contPerso {
        left: 0;
    }
    .C-btOeuvres {
        font-size: 50px;
    }
    .contenuUne .btnArtiste {
        width: 80%;
    }
    .une p {
        font-size: 15px;
    }
    .une h1 {
        font-size: 40px;
        min-width: 120px;
        line-height: 40px;
    }
    .texteUne {
        font-size: 14px;
    }
}
/* media queries: mobile --------------------------------------------------*/
@media screen and (max-width:667px){
    
    /*section à propos --------------------------*/
    .caroussel{
        margin-top: 80px;
    }
    .C-contPerso {
        left: 0;
    }
    .C-btOeuvres {
        font-size: 23px;
    }
    .apm div h1{
        margin: 3% 0% 3% 0%;
    }
    .propos{
        font-size: 70%;
        color: darkgrey;
    }
    .une{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .une h1{
        font-size: 40px;
        min-width: 120px;
    }
    .ImgUne {
        display: none;
    }
    .une .BlocUne {
        width: 100%;
        padding-right: 0;
        width: 90%;
    }
    .texteUne{
        font-size: 15px;
    }
    .contenuUne h2 {
        font-size: 25px;
    }
    .contenuUne .subTitreUne {
        font-size: 19px;
    }
    .une p {
        font-size: 14px;
        max-height: 125px;
        overflow: hidden;
    }
    .contenuUne .btnArtiste {
        width: 100%;
        padding: 15px;
        margin: 5% auto;
    }
    .btnVisite{
        width: 100%;
    }
    .honneur{
    display: inherit;
    height: 10%;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    }
    .honneur a{
    height: 130px;
    width: 100%;
    }
    .apm, .artiste{
        padding: 10%;
    }
}

@media screen and (max-width:320px){
    .C-btOeuvres {
        font-size: 21px;
        width: 100%;
    }
}
