/* Basé sur les sources de muicss*/
/**
 * Body CSS
 */

/* CSS reset -------------------------------------------------------------- */
html,
body,
img,
p,
h1,
h2,
h3,
ul,
li,
figure {
    margin: 0;
    padding: 0;
}

/* règles générales -------------------------------------------------------- */
* {
    box-sizing:border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-weight: 100;
    color: #5F5F5F;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #979797;
}
a:hover{
    color: #E26F39;
}
p{
    text-align: left;
    line-height: 1.5;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}

section {
    padding:0;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* contenu general -------------------------------------------------------- */
.contenu {
    padding-left: var(--marge);
    padding-right: var(--marge);
    /*min-height: 100%;*/
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* sticky footer */
    margin-bottom: -100px;
    padding-bottom: 100px;
}
.contenu .titreListe{
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    margin-bottom: 5%;
}
.contenu .titreListe h1{
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.contenu .titreListe h4{
    margin: 0;
    font-weight: 100;
}
p.textFiltrer{
    width: 100%;
    font-weight: 600;
}

/* Items des Formulaires ---------------------------------------- */
.contRecherche{
    display: inline-flex;
    margin: 20px 0;
    width: 100%;
}
.contRecherche i{
    font-size: x-large;
    padding-top: 8px;
    margin-right: 10px;
    color: #ccc;
}
.contRecherche input{
    margin: 0;
}
.boutons{
    padding: 2%;
    color: white;
    width: auto;
    text-align: center;
    margin: 20px 0 10px 0;
    -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.28);
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.28);
}
.boutons a{
    color: white;
}
.boutons:hover{
    cursor: pointer;
}
.bt-blue{
    background-color: #81CEC5;
}
.bt-blue:hover{
    background-color: #8FE3DA;
}
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none; -moz-appearance: none;
    display: block;
    width: 100%; height: 40px;
    line-height: 40px; font-size: 17px;
    border: 1px solid #f1f1f1;
  }

/* Oeuvres -------------------------------------------------------- */
.carte{
    position: relative;
    width: var(--carte-largeur);
    height: var(--carte-hauteur);
    margin: 20px 20px 20px 0;
    overflow: hidden;
}
.carte .image {
    width: 100%;
    height: var(--carte-hauteur-image);
    position: relative;
    overflow: hidden;
}
.carte .image.dummy{
    background-color: #F08243;  
}
.carte .image img{
    width: 100%;
}
.carte .image > .titre{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-right: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
}
.carte .texte{
    margin-top: 16px;
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.carte .texte .titre{
    color: #E26F39;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
}
.carte .texte .titre a{
    color: #E26F39;
    font-weight: 500;
}
.carte .texte .titre a:hover{
    color: #FCB797;
}
.oeuvres{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.uneOeuvre a{
    font-weight: 600;
    border-bottom: 1px solid #F3D331;
}
.uneOeuvre a:hover{
    color: black;
    font-weight: 600;
}
.uneOeuvre > .oeuvres .dummy{
    width: 60%;
    margin-top: 60px;
}
.uneOeuvre > .oeuvres .dummy img{
    width: 100%;
    border: 1px solid #f1f1f1;
    padding: 10px;
}
.uneOeuvre > .oeuvres .dummy h5{
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.uneOeuvre > .oeuvres .dummy h5 span{
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}
.uneOeuvre .oeuvres .titre{
    color: #E26F39;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0 0;
}
.uneOeuvre > .oeuvres .texte{
    width: 30%;
}
.uneOeuvre > .oeuvres .texte h4{
    margin-bottom: 5px;
}
.uneOeuvre > .oeuvres .texte a{
    margin-bottom: 5px;
}
.uneOeuvre > .oeuvres .texte ul{
    list-style: none;
    padding:0;
    margin-top:20px;
}
.uneOeuvre > .oeuvres .texte li { 
    padding-left: 1em; 
    text-indent: -.7em;
    line-height: 150%;
}
.uneOeuvre > .oeuvres .texte li h4{
    display: inline;
}
.uneOeuvre > .oeuvres .texte li p{
    padding-left: 1em; 
}
.uneOeuvre > .oeuvres .texte li:before {
    content: "• ";
    color: #E26F39;
    font-size: xx-large;
}
.uneOeuvre > .retour{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    height: 48px;
    justify-content: flex-end;
}
.uneOeuvre > .retour a{
    text-decoration: none;
    padding-left: 10px;
}

/* Liste des artistes ----------------------------------------------------------------------- */
.artiste-bouton h4{
    margin: 0;
    font-weight: 100;
}
.artiste-bouton h1{
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.artiste-bouton{
    margin-top: 30px;
}
.listeArtiste div h1{
    padding-top: 20px;
}
.listeArtiste div h4{
    padding-bottom: 20px;
}
.listeArtiste .flex{
    display: block;
}
.artiste-carte{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 30%;
    
    /* bordure de défilement de la liste des artistes*/
    border-left: solid 2px;
    border-left-color: #F3D331;
    padding: 30px; 
    position: relative;

}
.artiste-carte header a {
    color: black;
    text-transform: uppercase;
    font-weight: 400;
}
.boutons .bt-bluea a .btnSup {
    color: white;
}
.rectangle{
    width: 12px;
    height: 12px;
    background-color: #F3D331;
    position: absolute;
    left: -7px;
}

/* Détails Artiste -------------------------------------------------------------------- */
.nom-artiste h2{
    color: #E26F39;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
}
.oeuvre .artiste-detail h2{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0 0;
}
.artiste_detail {
    font-weight: 500;
    text-transform: uppercase;
}
.carte .barre-action a, .carte .barre-action button {
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    display: inline-block;
    margin: 0 16px;
    color: var(--main-couleur-lien);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13.3333px;
    text-decoration: none;
}
.carte .barre-action a:hover{
    text-decoration: underline;
}

/* Commentaires -------------------------------------------------------- */
.form-comment{
    margin-top: 10%;
    border: 1px solid #81CEC5;
    padding: 20px;
}
.form-comment h2{
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: 600;
}
.list-comment{
    margin-bottom: 40px;
}
.list-comment div{
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    flex-wrap: wrap;
}


.list-comment div:nth-child(even){
    background-color: #f1f1f1;
}
.list-comment div p:first-child{
    font-weight: 600;
    text-transform: uppercase;
    color: #81CEC5;
    width: 100%;
}

.list-comment div p:nth-child(2){
    width: 86%;
    max-width: 86%;
    padding: 0.5% 2%;
}
.list-comment div p{
    width: 6%;
    padding: 0.5% 2%;
    font-size: 110%;
}

.titreComment{
    color: black;
    margin-bottom: 10px;
}
.lien-pager
{
    margin-left: 5px;
    margin-top: 5px;
}




/* À propos -------------------------------------------------------- */
.img-page {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 20px 0 0;
}
.img-page img{
    width: 100%;
}
.titre-page{
    color: #E26F39;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
}
.proposTexte{
    text-align: justify;
    padding-right: 5%;
}
.hidden{
    display: none;
}





/* media queries: mobile --------------------------------------------------*/
@media screen and (max-width:667px){
    .contenu {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 30%;
    }
    .carte {
        height: auto;
    }
    .carte .texte .titre{
        font-size: 18px;
    }
    .contenu .titreListe {
        width: 100%;
    }

    /* À propos -------------- */
    .img-page {
        height: auto;
    }
    .artiste-carte{
    width: 80%;
    }

    /* Oeuvres -------------- */
    .oeuvres{
        width: 100%;
        
    }
    .uneOeuvre > .oeuvres .dummy{
        width: 100%;
        margin-top: 20px;
    }
    .uneOeuvre > .oeuvres .dummy h5{
        display: none;
    }
    .uneOeuvre > .oeuvres .texte {
        width: 100%;
    }
    .form-comment h2 {
        margin-bottom: 20px;
    }
    .titreComment {
        text-align: center;
    }
}

