:root {
    --hauteur-entete: 120px;
    --carte-largeur: 344px;
    --carte-hauteur: 344px;
    --carte-hauteur-image : calc(var(--carte-largeur) * 0.5625);
    --oeuvre-hauteur-image : calc(var(--carte-hauteur-image) * 3);
    --artiste-hauteur-image : calc(var(--carte-hauteur-image));
    --main-couleur-lien : #5F5F5F;
    --marge-gauche : 30px;
    
    --couleur-fond : #00BCD4;
    --couleur-fond : #f0f0f0; 
}
